/* Icons from directory "" */
.icon-i1,.icon-i1\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-i1-dims{width:110px;height:97px}
.icon-i10,.icon-i10\:regular{background-image:url('icons/icons.svg');background-position:0 -97px;background-repeat:no-repeat}
.icon-i10-dims{width:110px;height:84px}
.icon-i11,.icon-i11\:regular{background-image:url('icons/icons.svg');background-position:0 -181px;background-repeat:no-repeat}
.icon-i11-dims{width:110px;height:110px}
.icon-i12,.icon-i12\:regular{background-image:url('icons/icons.svg');background-position:0 -291px;background-repeat:no-repeat}
.icon-i12-dims{width:110px;height:88px}
.icon-i13,.icon-i13\:regular{background-image:url('icons/icons.svg');background-position:0 -379px;background-repeat:no-repeat}
.icon-i13-dims{width:110px;height:131px}
.icon-i14,.icon-i14\:regular{background-image:url('icons/icons.svg');background-position:0 -510px;background-repeat:no-repeat}
.icon-i14-dims{width:110px;height:110px}
.icon-i15,.icon-i15\:regular{background-image:url('icons/icons.svg');background-position:0 -620px;background-repeat:no-repeat}
.icon-i15-dims{width:110px;height:110px}
.icon-i16,.icon-i16\:regular{background-image:url('icons/icons.svg');background-position:0 -730px;background-repeat:no-repeat}
.icon-i16-dims{width:110px;height:110px}
.icon-i17,.icon-i17\:regular{background-image:url('icons/icons.svg');background-position:0 -840px;background-repeat:no-repeat}
.icon-i17-dims{width:110px;height:80px}
.icon-i17a,.icon-i17a\:regular{background-image:url('icons/icons.svg');background-position:0 -920px;background-repeat:no-repeat}
.icon-i17a-dims{width:110px;height:80px}
.icon-i18,.icon-i18\:regular{background-image:url('icons/icons.svg');background-position:0 -1000px;background-repeat:no-repeat}
.icon-i18-dims{width:110px;height:110px}
.icon-i18a,.icon-i18a\:regular{background-image:url('icons/icons.svg');background-position:0 -1110px;background-repeat:no-repeat}
.icon-i18a-dims{width:110px;height:110px}
.icon-i19,.icon-i19\:regular{background-image:url('icons/icons.svg');background-position:0 -1220px;background-repeat:no-repeat}
.icon-i19-dims{width:110px;height:110px}
.icon-i1a,.icon-i1a\:regular{background-image:url('icons/icons.svg');background-position:0 -1330px;background-repeat:no-repeat}
.icon-i1a-dims{width:85px;height:85px}
.icon-i2,.icon-i2\:regular{background-image:url('icons/icons.svg');background-position:0 -1415px;background-repeat:no-repeat}
.icon-i2-dims{width:110px;height:110px}
.icon-i20,.icon-i20\:regular{background-image:url('icons/icons.svg');background-position:0 -1525px;background-repeat:no-repeat}
.icon-i20-dims{width:110px;height:110px}
.icon-i21,.icon-i21\:regular{background-image:url('icons/icons.svg');background-position:0 -1635px;background-repeat:no-repeat}
.icon-i21-dims{width:110px;height:110px}
.icon-i22,.icon-i22\:regular{background-image:url('icons/icons.svg');background-position:0 -1745px;background-repeat:no-repeat}
.icon-i22-dims{width:110px;height:110px}
.icon-i23,.icon-i23\:regular{background-image:url('icons/icons.svg');background-position:0 -1855px;background-repeat:no-repeat}
.icon-i23-dims{width:110px;height:87px}
.icon-i23a,.icon-i23a\:regular{background-image:url('icons/icons.svg');background-position:0 -1942px;background-repeat:no-repeat}
.icon-i23a-dims{width:110px;height:87px}
.icon-i23b,.icon-i23b\:regular{background-image:url('icons/icons.svg');background-position:0 -2029px;background-repeat:no-repeat}
.icon-i23b-dims{width:110px;height:87px}
.icon-i24,.icon-i24\:regular{background-image:url('icons/icons.svg');background-position:0 -2116px;background-repeat:no-repeat}
.icon-i24-dims{width:85px;height:85px}
.icon-i24a,.icon-i24a\:regular{background-image:url('icons/icons.svg');background-position:0 -2201px;background-repeat:no-repeat}
.icon-i24a-dims{width:111px;height:111px}
.icon-i25,.icon-i25\:regular{background-image:url('icons/icons.svg');background-position:0 -2312px;background-repeat:no-repeat}
.icon-i25-dims{width:57px;height:110px}
.icon-i25a,.icon-i25a\:regular{background-image:url('icons/icons.svg');background-position:0 -2422px;background-repeat:no-repeat}
.icon-i25a-dims{width:57px;height:110px}
.icon-i25b,.icon-i25b\:regular{background-image:url('icons/icons.svg');background-position:0 -2532px;background-repeat:no-repeat}
.icon-i25b-dims{width:57px;height:110px}
.icon-i26,.icon-i26\:regular{background-image:url('icons/icons.svg');background-position:0 -2642px;background-repeat:no-repeat}
.icon-i26-dims{width:110px;height:78px}
.icon-i28,.icon-i28\:regular{background-image:url('icons/icons.svg');background-position:0 -2720px;background-repeat:no-repeat}
.icon-i28-dims{width:110px;height:89px}
.icon-i29,.icon-i29\:regular{background-image:url('icons/icons.svg');background-position:0 -2809px;background-repeat:no-repeat}
.icon-i29-dims{width:85px;height:85px}
.icon-i29a,.icon-i29a\:regular{background-image:url('icons/icons.svg');background-position:0 -2894px;background-repeat:no-repeat}
.icon-i29a-dims{width:85px;height:85px}
.icon-i3,.icon-i3\:regular{background-image:url('icons/icons.svg');background-position:0 -2979px;background-repeat:no-repeat}
.icon-i3-dims{width:110px;height:90px}
.icon-i30,.icon-i30\:regular{background-image:url('icons/icons.svg');background-position:0 -3069px;background-repeat:no-repeat}
.icon-i30-dims{width:85px;height:85px}
.icon-i31,.icon-i31\:regular{background-image:url('icons/icons.svg');background-position:0 -3154px;background-repeat:no-repeat}
.icon-i31-dims{width:85px;height:85px}
.icon-i32,.icon-i32\:regular{background-image:url('icons/icons.svg');background-position:0 -3239px;background-repeat:no-repeat}
.icon-i32-dims{width:85px;height:85px}
.icon-i33,.icon-i33\:regular{background-image:url('icons/icons.svg');background-position:0 -3324px;background-repeat:no-repeat}
.icon-i33-dims{width:87px;height:110px}
.icon-i34,.icon-i34\:regular{background-image:url('icons/icons.svg');background-position:0 -3434px;background-repeat:no-repeat}
.icon-i34-dims{width:94px;height:110px}
.icon-i35,.icon-i35\:regular{background-image:url('icons/icons.svg');background-position:0 -3544px;background-repeat:no-repeat}
.icon-i35-dims{width:85px;height:85px}
.icon-i35a,.icon-i35a\:regular{background-image:url('icons/icons.svg');background-position:0 -3629px;background-repeat:no-repeat}
.icon-i35a-dims{width:111px;height:144px}
.icon-i36,.icon-i36\:regular{background-image:url('icons/icons.svg');background-position:0 -3773px;background-repeat:no-repeat}
.icon-i36-dims{width:85px;height:85px}
.icon-i36a,.icon-i36a\:regular{background-image:url('icons/icons.svg');background-position:0 -3858px;background-repeat:no-repeat}
.icon-i36a-dims{width:85px;height:85px}
.icon-i37,.icon-i37\:regular{background-image:url('icons/icons.svg');background-position:0 -3943px;background-repeat:no-repeat}
.icon-i37-dims{width:85px;height:85px}
.icon-i38,.icon-i38\:regular{background-image:url('icons/icons.svg');background-position:0 -4028px;background-repeat:no-repeat}
.icon-i38-dims{width:85px;height:85px}
.icon-i39,.icon-i39\:regular{background-image:url('icons/icons.svg');background-position:0 -4113px;background-repeat:no-repeat}
.icon-i39-dims{width:85px;height:85px}
.icon-i4,.icon-i4\:regular{background-image:url('icons/icons.svg');background-position:0 -4198px;background-repeat:no-repeat}
.icon-i4-dims{width:110px;height:110px}
.icon-i40,.icon-i40\:regular{background-image:url('icons/icons.svg');background-position:0 -4308px;background-repeat:no-repeat}
.icon-i40-dims{width:85px;height:85px}
.icon-i41,.icon-i41\:regular{background-image:url('icons/icons.svg');background-position:0 -4393px;background-repeat:no-repeat}
.icon-i41-dims{width:85px;height:85px}
.icon-i43,.icon-i43\:regular{background-image:url('icons/icons.svg');background-position:0 -4478px;background-repeat:no-repeat}
.icon-i43-dims{width:85px;height:85px}
.icon-i44,.icon-i44\:regular{background-image:url('icons/icons.svg');background-position:0 -4563px;background-repeat:no-repeat}
.icon-i44-dims{width:85px;height:85px}
.icon-i47,.icon-i47\:regular{background-image:url('icons/icons.svg');background-position:0 -4648px;background-repeat:no-repeat}
.icon-i47-dims{width:110px;height:110px}
.icon-i48,.icon-i48\:regular{background-image:url('icons/icons.svg');background-position:0 -4758px;background-repeat:no-repeat}
.icon-i48-dims{width:85px;height:85px}
.icon-i49,.icon-i49\:regular{background-image:url('icons/icons.svg');background-position:0 -4843px;background-repeat:no-repeat}
.icon-i49-dims{width:85px;height:85px}
.icon-i4a,.icon-i4a\:regular{background-image:url('icons/icons.svg');background-position:0 -4928px;background-repeat:no-repeat}
.icon-i4a-dims{width:110px;height:110px}
.icon-i4b,.icon-i4b\:regular{background-image:url('icons/icons.svg');background-position:0 -5038px;background-repeat:no-repeat}
.icon-i4b-dims{width:110px;height:110px}
.icon-i50,.icon-i50\:regular{background-image:url('icons/icons.svg');background-position:0 -5148px;background-repeat:no-repeat}
.icon-i50-dims{width:85px;height:85px}
.icon-i57,.icon-i57\:regular{background-image:url('icons/icons.svg');background-position:0 -5233px;background-repeat:no-repeat}
.icon-i57-dims{width:110px;height:110px}
.icon-i6,.icon-i6\:regular{background-image:url('icons/icons.svg');background-position:0 -5343px;background-repeat:no-repeat}
.icon-i6-dims{width:110px;height:69px}
.icon-i60,.icon-i60\:regular{background-image:url('icons/icons.svg');background-position:0 -5412px;background-repeat:no-repeat}
.icon-i60-dims{width:116px;height:83px}
.icon-i60a,.icon-i60a\:regular{background-image:url('icons/icons.svg');background-position:0 -5495px;background-repeat:no-repeat}
.icon-i60a-dims{width:117px;height:84px}
.icon-i60b,.icon-i60b\:regular{background-image:url('icons/icons.svg');background-position:0 -5579px;background-repeat:no-repeat}
.icon-i60b-dims{width:118px;height:85px}
.icon-i60c,.icon-i60c\:regular{background-image:url('icons/icons.svg');background-position:0 -5664px;background-repeat:no-repeat}
.icon-i60c-dims{width:116px;height:83px}
.icon-i60d,.icon-i60d\:regular{background-image:url('icons/icons.svg');background-position:0 -5747px;background-repeat:no-repeat}
.icon-i60d-dims{width:85px;height:85px}
.icon-i60e,.icon-i60e\:regular{background-image:url('icons/icons.svg');background-position:0 -5832px;background-repeat:no-repeat}
.icon-i60e-dims{width:116px;height:83px}
.icon-i60f,.icon-i60f\:regular{background-image:url('icons/icons.svg');background-position:0 -5915px;background-repeat:no-repeat}
.icon-i60f-dims{width:110px;height:80px}
.icon-i61,.icon-i61\:regular{background-image:url('icons/icons.svg');background-position:0 -5995px;background-repeat:no-repeat}
.icon-i61-dims{width:85px;height:85px}
.icon-i62,.icon-i62\:regular{background-image:url('icons/icons.svg');background-position:0 -6080px;background-repeat:no-repeat}
.icon-i62-dims{width:85px;height:85px}
.icon-i63,.icon-i63\:regular{background-image:url('icons/icons.svg');background-position:0 -6165px;background-repeat:no-repeat}
.icon-i63-dims{width:114px;height:81px}
.icon-i64,.icon-i64\:regular{background-image:url('icons/icons.svg');background-position:0 -6246px;background-repeat:no-repeat}
.icon-i64-dims{width:114px;height:81px}
.icon-i65,.icon-i65\:regular{background-image:url('icons/icons.svg');background-position:0 -6327px;background-repeat:no-repeat}
.icon-i65-dims{width:110px;height:110px}
.icon-i65a,.icon-i65a\:regular{background-image:url('icons/icons.svg');background-position:0 -6437px;background-repeat:no-repeat}
.icon-i65a-dims{width:110px;height:110px}
.icon-i66,.icon-i66\:regular{background-image:url('icons/icons.svg');background-position:0 -6547px;background-repeat:no-repeat}
.icon-i66-dims{width:85px;height:85px}
.icon-i66a,.icon-i66a\:regular{background-image:url('icons/icons.svg');background-position:0 -6632px;background-repeat:no-repeat}
.icon-i66a-dims{width:85px;height:85px}
.icon-i67,.icon-i67\:regular{background-image:url('icons/icons.svg');background-position:0 -6717px;background-repeat:no-repeat}
.icon-i67-dims{width:83px;height:110px}
.icon-i67a,.icon-i67a\:regular{background-image:url('icons/icons.svg');background-position:0 -6827px;background-repeat:no-repeat}
.icon-i67a-dims{width:85px;height:85px}
.icon-i6a,.icon-i6a\:regular{background-image:url('icons/icons.svg');background-position:0 -6912px;background-repeat:no-repeat}
.icon-i6a-dims{width:110px;height:71px}
.icon-i7,.icon-i7\:regular{background-image:url('icons/icons.svg');background-position:0 -6983px;background-repeat:no-repeat}
.icon-i7-dims{width:110px;height:111px}
.icon-i70,.icon-i70\:regular{background-image:url('icons/icons.svg');background-position:0 -7094px;background-repeat:no-repeat}
.icon-i70-dims{width:110px;height:110px}
.icon-i71,.icon-i71\:regular{background-image:url('icons/icons.svg');background-position:0 -7204px;background-repeat:no-repeat}
.icon-i71-dims{width:85px;height:85px}
.icon-i71a,.icon-i71a\:regular{background-image:url('icons/icons.svg');background-position:0 -7289px;background-repeat:no-repeat}
.icon-i71a-dims{width:110px;height:111px}
.icon-i71b,.icon-i71b\:regular{background-image:url('icons/icons.svg');background-position:0 -7400px;background-repeat:no-repeat}
.icon-i71b-dims{width:85px;height:85px}
.icon-i72,.icon-i72\:regular{background-image:url('icons/icons.svg');background-position:0 -7485px;background-repeat:no-repeat}
.icon-i72-dims{width:85px;height:85px}
.icon-i72a,.icon-i72a\:regular{background-image:url('icons/icons.svg');background-position:0 -7570px;background-repeat:no-repeat}
.icon-i72a-dims{width:110px;height:110px}
.icon-i73,.icon-i73\:regular{background-image:url('icons/icons.svg');background-position:0 -7680px;background-repeat:no-repeat}
.icon-i73-dims{width:85px;height:85px}
.icon-i75,.icon-i75\:regular{background-image:url('icons/icons.svg');background-position:0 -7765px;background-repeat:no-repeat}
.icon-i75-dims{width:110px;height:110px}
.icon-i76,.icon-i76\:regular{background-image:url('icons/icons.svg');background-position:0 -7875px;background-repeat:no-repeat}
.icon-i76-dims{width:110px;height:110px}
.icon-i78,.icon-i78\:regular{background-image:url('icons/icons.svg');background-position:0 -7985px;background-repeat:no-repeat}
.icon-i78-dims{width:85px;height:85px}
.icon-i79,.icon-i79\:regular{background-image:url('icons/icons.svg');background-position:0 -8070px;background-repeat:no-repeat}
.icon-i79-dims{width:85px;height:85px}
.icon-i79a,.icon-i79a\:regular{background-image:url('icons/icons.svg');background-position:0 -8155px;background-repeat:no-repeat}
.icon-i79a-dims{width:110px;height:110px}
.icon-i81,.icon-i81\:regular{background-image:url('icons/icons.svg');background-position:0 -8265px;background-repeat:no-repeat}
.icon-i81-dims{width:85px;height:85px}
.icon-i81a,.icon-i81a\:regular{background-image:url('icons/icons.svg');background-position:0 -8350px;background-repeat:no-repeat}
.icon-i81a-dims{width:110px;height:110px}
.icon-i82,.icon-i82\:regular{background-image:url('icons/icons.svg');background-position:0 -8460px;background-repeat:no-repeat}
.icon-i82-dims{width:110px;height:111px}
.icon-i82a,.icon-i82a\:regular{background-image:url('icons/icons.svg');background-position:0 -8571px;background-repeat:no-repeat}
.icon-i82a-dims{width:110px;height:111px}
.icon-i82b,.icon-i82b\:regular{background-image:url('icons/icons.svg');background-position:0 -8682px;background-repeat:no-repeat}
.icon-i82b-dims{width:85px;height:85px}
.icon-i83,.icon-i83\:regular{background-image:url('icons/icons.svg');background-position:0 -8767px;background-repeat:no-repeat}
.icon-i83-dims{width:85px;height:85px}
.icon-i84,.icon-i84\:regular{background-image:url('icons/icons.svg');background-position:0 -8852px;background-repeat:no-repeat}
.icon-i84-dims{width:85px;height:85px}
.icon-i85,.icon-i85\:regular{background-image:url('icons/icons.svg');background-position:0 -8937px;background-repeat:no-repeat}
.icon-i85-dims{width:110px;height:110px}
.icon-i85a,.icon-i85a\:regular{background-image:url('icons/icons.svg');background-position:0 -9047px;background-repeat:no-repeat}
.icon-i85a-dims{width:110px;height:110px}
.icon-i9,.icon-i9\:regular{background-image:url('icons/icons.svg');background-position:0 -9157px;background-repeat:no-repeat}
.icon-i9-dims{width:110px;height:110px}