/* Icons from directory "" */
.icon-i1,.icon-i1\:regular{background-image:url('icons/icons.png');background-position:0 0;background-repeat:no-repeat}
.icon-i1-dims{width:100px;height:87px}
.icon-i10,.icon-i10\:regular{background-image:url('icons/icons.png');background-position:0 -87px;background-repeat:no-repeat}
.icon-i10-dims{width:100px;height:74px}
.icon-i11,.icon-i11\:regular{background-image:url('icons/icons.png');background-position:0 -161px;background-repeat:no-repeat}
.icon-i11-dims{width:100px;height:100px}
.icon-i12,.icon-i12\:regular{background-image:url('icons/icons.png');background-position:0 -261px;background-repeat:no-repeat}
.icon-i12-dims{width:100px;height:78px}
.icon-i13,.icon-i13\:regular{background-image:url('icons/icons.png');background-position:0 -339px;background-repeat:no-repeat}
.icon-i13-dims{width:100px;height:121px}
.icon-i14,.icon-i14\:regular{background-image:url('icons/icons.png');background-position:0 -460px;background-repeat:no-repeat}
.icon-i14-dims{width:100px;height:100px}
.icon-i15,.icon-i15\:regular{background-image:url('icons/icons.png');background-position:0 -560px;background-repeat:no-repeat}
.icon-i15-dims{width:100px;height:100px}
.icon-i16,.icon-i16\:regular{background-image:url('icons/icons.png');background-position:0 -660px;background-repeat:no-repeat}
.icon-i16-dims{width:100px;height:100px}
.icon-i17,.icon-i17\:regular{background-image:url('icons/icons.png');background-position:0 -760px;background-repeat:no-repeat}
.icon-i17-dims{width:100px;height:70px}
.icon-i18,.icon-i18\:regular{background-image:url('icons/icons.png');background-position:0 -830px;background-repeat:no-repeat}
.icon-i18-dims{width:100px;height:100px}
.icon-i19,.icon-i19\:regular{background-image:url('icons/icons.png');background-position:0 -930px;background-repeat:no-repeat}
.icon-i19-dims{width:100px;height:100px}
.icon-i2,.icon-i2\:regular{background-image:url('icons/icons.png');background-position:0 -1030px;background-repeat:no-repeat}
.icon-i2-dims{width:100px;height:100px}
.icon-i20,.icon-i20\:regular{background-image:url('icons/icons.png');background-position:0 -1130px;background-repeat:no-repeat}
.icon-i20-dims{width:100px;height:100px}
.icon-i21,.icon-i21\:regular{background-image:url('icons/icons.png');background-position:0 -1230px;background-repeat:no-repeat}
.icon-i21-dims{width:100px;height:100px}
.icon-i22,.icon-i22\:regular{background-image:url('icons/icons.png');background-position:0 -1330px;background-repeat:no-repeat}
.icon-i22-dims{width:100px;height:100px}
.icon-i23,.icon-i23\:regular{background-image:url('icons/icons.png');background-position:0 -1430px;background-repeat:no-repeat}
.icon-i23-dims{width:100px;height:77px}
.icon-i24,.icon-i24\:regular{background-image:url('icons/icons.png');background-position:0 -1507px;background-repeat:no-repeat}
.icon-i24-dims{width:100px;height:100px}
.icon-i24a,.icon-i24a\:regular{background-image:url('icons/icons.png');background-position:0 -1607px;background-repeat:no-repeat}
.icon-i24a-dims{width:100px;height:100px}
.icon-i25,.icon-i25\:regular{background-image:url('icons/icons.png');background-position:0 -1707px;background-repeat:no-repeat}
.icon-i25-dims{width:47px;height:100px}
.icon-i26,.icon-i26\:regular{background-image:url('icons/icons.png');background-position:0 -1807px;background-repeat:no-repeat}
.icon-i26-dims{width:100px;height:68px}
.icon-i28,.icon-i28\:regular{background-image:url('icons/icons.png');background-position:0 -1875px;background-repeat:no-repeat}
.icon-i28-dims{width:100px;height:79px}
.icon-i29,.icon-i29\:regular{background-image:url('icons/icons.png');background-position:0 -1954px;background-repeat:no-repeat}
.icon-i29-dims{width:100px;height:100px}
.icon-i3,.icon-i3\:regular{background-image:url('icons/icons.png');background-position:0 -2054px;background-repeat:no-repeat}
.icon-i3-dims{width:100px;height:80px}
.icon-i30,.icon-i30\:regular{background-image:url('icons/icons.png');background-position:0 -2134px;background-repeat:no-repeat}
.icon-i30-dims{width:100px;height:100px}
.icon-i31,.icon-i31\:regular{background-image:url('icons/icons.png');background-position:0 -2234px;background-repeat:no-repeat}
.icon-i31-dims{width:100px;height:100px}
.icon-i32,.icon-i32\:regular{background-image:url('icons/icons.png');background-position:0 -2334px;background-repeat:no-repeat}
.icon-i32-dims{width:100px;height:100px}
.icon-i33,.icon-i33\:regular{background-image:url('icons/icons.png');background-position:0 -2434px;background-repeat:no-repeat}
.icon-i33-dims{width:77px;height:100px}
.icon-i34,.icon-i34\:regular{background-image:url('icons/icons.png');background-position:0 -2534px;background-repeat:no-repeat}
.icon-i34-dims{width:84px;height:100px}
.icon-i35,.icon-i35\:regular{background-image:url('icons/icons.png');background-position:0 -2634px;background-repeat:no-repeat}
.icon-i35-dims{width:100px;height:100px}
.icon-i36,.icon-i36\:regular{background-image:url('icons/icons.png');background-position:0 -2734px;background-repeat:no-repeat}
.icon-i36-dims{width:100px;height:100px}
.icon-i37,.icon-i37\:regular{background-image:url('icons/icons.png');background-position:0 -2834px;background-repeat:no-repeat}
.icon-i37-dims{width:100px;height:100px}
.icon-i38,.icon-i38\:regular{background-image:url('icons/icons.png');background-position:0 -2934px;background-repeat:no-repeat}
.icon-i38-dims{width:100px;height:100px}
.icon-i39,.icon-i39\:regular{background-image:url('icons/icons.png');background-position:0 -3034px;background-repeat:no-repeat}
.icon-i39-dims{width:100px;height:100px}
.icon-i4,.icon-i4\:regular{background-image:url('icons/icons.png');background-position:0 -3134px;background-repeat:no-repeat}
.icon-i4-dims{width:100px;height:100px}
.icon-i40,.icon-i40\:regular{background-image:url('icons/icons.png');background-position:0 -3234px;background-repeat:no-repeat}
.icon-i40-dims{width:100px;height:100px}
.icon-i41,.icon-i41\:regular{background-image:url('icons/icons.png');background-position:0 -3334px;background-repeat:no-repeat}
.icon-i41-dims{width:100px;height:100px}
.icon-i42,.icon-i42\:regular{background-image:url('icons/icons.png');background-position:0 -3434px;background-repeat:no-repeat}
.icon-i42-dims{width:100px;height:100px}
.icon-i43,.icon-i43\:regular{background-image:url('icons/icons.png');background-position:0 -3534px;background-repeat:no-repeat}
.icon-i43-dims{width:100px;height:100px}
.icon-i44,.icon-i44\:regular{background-image:url('icons/icons.png');background-position:0 -3634px;background-repeat:no-repeat}
.icon-i44-dims{width:100px;height:100px}
.icon-i45,.icon-i45\:regular{background-image:url('icons/icons.png');background-position:0 -3734px;background-repeat:no-repeat}
.icon-i45-dims{width:100px;height:100px}
.icon-i46,.icon-i46\:regular{background-image:url('icons/icons.png');background-position:0 -3834px;background-repeat:no-repeat}
.icon-i46-dims{width:100px;height:100px}
.icon-i47,.icon-i47\:regular{background-image:url('icons/icons.png');background-position:0 -3934px;background-repeat:no-repeat}
.icon-i47-dims{width:100px;height:100px}
.icon-i48,.icon-i48\:regular{background-image:url('icons/icons.png');background-position:0 -4034px;background-repeat:no-repeat}
.icon-i48-dims{width:100px;height:100px}
.icon-i49,.icon-i49\:regular{background-image:url('icons/icons.png');background-position:0 -4134px;background-repeat:no-repeat}
.icon-i49-dims{width:100px;height:100px}
.icon-i5,.icon-i5\:regular{background-image:url('icons/icons.png');background-position:0 -4234px;background-repeat:no-repeat}
.icon-i5-dims{width:106px;height:73px}
.icon-i50,.icon-i50\:regular{background-image:url('icons/icons.png');background-position:0 -4307px;background-repeat:no-repeat}
.icon-i50-dims{width:100px;height:100px}
.icon-i51,.icon-i51\:regular{background-image:url('icons/icons.png');background-position:0 -4407px;background-repeat:no-repeat}
.icon-i51-dims{width:100px;height:100px}
.icon-i52,.icon-i52\:regular{background-image:url('icons/icons.png');background-position:0 -4507px;background-repeat:no-repeat}
.icon-i52-dims{width:100px;height:100px}
.icon-i53,.icon-i53\:regular{background-image:url('icons/icons.png');background-position:0 -4607px;background-repeat:no-repeat}
.icon-i53-dims{width:100px;height:100px}
.icon-i54,.icon-i54\:regular{background-image:url('icons/icons.png');background-position:0 -4707px;background-repeat:no-repeat}
.icon-i54-dims{width:100px;height:100px}
.icon-i55,.icon-i55\:regular{background-image:url('icons/icons.png');background-position:0 -4807px;background-repeat:no-repeat}
.icon-i55-dims{width:100px;height:100px}
.icon-i56,.icon-i56\:regular{background-image:url('icons/icons.png');background-position:0 -4907px;background-repeat:no-repeat}
.icon-i56-dims{width:100px;height:100px}
.icon-i57,.icon-i57\:regular{background-image:url('icons/icons.png');background-position:0 -5007px;background-repeat:no-repeat}
.icon-i57-dims{width:100px;height:100px}
.icon-i58,.icon-i58\:regular{background-image:url('icons/icons.png');background-position:0 -5107px;background-repeat:no-repeat}
.icon-i58-dims{width:106px;height:73px}
.icon-i59,.icon-i59\:regular{background-image:url('icons/icons.png');background-position:0 -5180px;background-repeat:no-repeat}
.icon-i59-dims{width:100px;height:100px}
.icon-i6,.icon-i6\:regular{background-image:url('icons/icons.png');background-position:0 -5280px;background-repeat:no-repeat}
.icon-i6-dims{width:100px;height:59px}
.icon-i60,.icon-i60\:regular{background-image:url('icons/icons.png');background-position:0 -5339px;background-repeat:no-repeat}
.icon-i60-dims{width:106px;height:73px}
.icon-i61,.icon-i61\:regular{background-image:url('icons/icons.png');background-position:0 -5412px;background-repeat:no-repeat}
.icon-i61-dims{width:100px;height:100px}
.icon-i62,.icon-i62\:regular{background-image:url('icons/icons.png');background-position:0 -5512px;background-repeat:no-repeat}
.icon-i62-dims{width:100px;height:100px}
.icon-i63,.icon-i63\:regular{background-image:url('icons/icons.png');background-position:0 -5612px;background-repeat:no-repeat}
.icon-i63-dims{width:104px;height:71px}
.icon-i64,.icon-i64\:regular{background-image:url('icons/icons.png');background-position:0 -5683px;background-repeat:no-repeat}
.icon-i64-dims{width:104px;height:71px}
.icon-i65,.icon-i65\:regular{background-image:url('icons/icons.png');background-position:0 -5754px;background-repeat:no-repeat}
.icon-i65-dims{width:100px;height:100px}
.icon-i66,.icon-i66\:regular{background-image:url('icons/icons.png');background-position:0 -5854px;background-repeat:no-repeat}
.icon-i66-dims{width:100px;height:100px}
.icon-i67,.icon-i67\:regular{background-image:url('icons/icons.png');background-position:0 -5954px;background-repeat:no-repeat}
.icon-i67-dims{width:73px;height:100px}
.icon-i68,.icon-i68\:regular{background-image:url('icons/icons.png');background-position:0 -6054px;background-repeat:no-repeat}
.icon-i68-dims{width:100px;height:100px}
.icon-i69,.icon-i69\:regular{background-image:url('icons/icons.png');background-position:0 -6154px;background-repeat:no-repeat}
.icon-i69-dims{width:100px;height:100px}
.icon-i7,.icon-i7\:regular{background-image:url('icons/icons.png');background-position:0 -6254px;background-repeat:no-repeat}
.icon-i7-dims{width:100px;height:101px}
.icon-i70,.icon-i70\:regular{background-image:url('icons/icons.png');background-position:0 -6355px;background-repeat:no-repeat}
.icon-i70-dims{width:100px;height:100px}
.icon-i71,.icon-i71\:regular{background-image:url('icons/icons.png');background-position:0 -6455px;background-repeat:no-repeat}
.icon-i71-dims{width:100px;height:100px}
.icon-i72,.icon-i72\:regular{background-image:url('icons/icons.png');background-position:0 -6555px;background-repeat:no-repeat}
.icon-i72-dims{width:100px;height:100px}
.icon-i73,.icon-i73\:regular{background-image:url('icons/icons.png');background-position:0 -6655px;background-repeat:no-repeat}
.icon-i73-dims{width:100px;height:100px}
.icon-i75,.icon-i75\:regular{background-image:url('icons/icons.png');background-position:0 -6755px;background-repeat:no-repeat}
.icon-i75-dims{width:100px;height:100px}
.icon-i76,.icon-i76\:regular{background-image:url('icons/icons.png');background-position:0 -6855px;background-repeat:no-repeat}
.icon-i76-dims{width:100px;height:100px}
.icon-i78,.icon-i78\:regular{background-image:url('icons/icons.png');background-position:0 -6955px;background-repeat:no-repeat}
.icon-i78-dims{width:100px;height:100px}
.icon-i79,.icon-i79\:regular{background-image:url('icons/icons.png');background-position:0 -7055px;background-repeat:no-repeat}
.icon-i79-dims{width:100px;height:100px}
.icon-i80,.icon-i80\:regular{background-image:url('icons/icons.png');background-position:0 -7155px;background-repeat:no-repeat}
.icon-i80-dims{width:100px;height:100px}
.icon-i81,.icon-i81\:regular{background-image:url('icons/icons.png');background-position:0 -7255px;background-repeat:no-repeat}
.icon-i81-dims{width:100px;height:100px}
.icon-i82,.icon-i82\:regular{background-image:url('icons/icons.png');background-position:0 -7355px;background-repeat:no-repeat}
.icon-i82-dims{width:100px;height:101px}
.icon-i83,.icon-i83\:regular{background-image:url('icons/icons.png');background-position:0 -7456px;background-repeat:no-repeat}
.icon-i83-dims{width:100px;height:100px}
.icon-i84,.icon-i84\:regular{background-image:url('icons/icons.png');background-position:0 -7556px;background-repeat:no-repeat}
.icon-i84-dims{width:100px;height:100px}
.icon-i85,.icon-i85\:regular{background-image:url('icons/icons.png');background-position:0 -7656px;background-repeat:no-repeat}
.icon-i85-dims{width:100px;height:100px}
.icon-i9,.icon-i9\:regular{background-image:url('icons/icons.png');background-position:0 -7756px;background-repeat:no-repeat}
.icon-i9-dims{width:100px;height:100px}
.icon-reslogo,.icon-reslogo\:regular{background-image:url('icons/icons.png');background-position:0 -7856px;background-repeat:no-repeat}
.icon-reslogo-dims{width:300px;height:80px}